body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

#tabs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#maximilianSchmalenbachTab{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: rgb(227, 227, 227);
    font-weight: light;
}

button{
    border:none;
    background: none;
}

button:focus{
    outline:0;
    font-style: italic;
}

#projectsTab{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: rgb(227, 227, 227);
    font-weight: light;
}

#copyright{
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    color: rgb(225, 225, 225);
    font-size: 0.8em;
}

#tabs{
    text-align: right;
    position: absolute;
    top: 40%;
    left: 7%;
}

#maximilianSchmalenbach{
    position: absolute;
    top: 40%;
    left: 40%;
}

#maximilianSchmalenbachText{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: rgb(92, 92, 92);
    font-weight: light;
}

.maximilianSchmalenbachInfo{
    padding-right: 0.4em;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: rgb(57, 57, 57);
    font-weight: light;
    font-style: italic;
}

#projects{
    display: none; 
    position: absolute;
    top: 40%;
    left: 40%;
    overflow-y: scroll; 
    height:180px;
}

#content{
    display: flex;
    flex-direction: column;
}

#projectHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: rgb(69, 69, 69);
    font-weight: regular;
}

#projectDescription{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: rgb(85, 85, 85);
    font-weight: light;
}

#projectInfo{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: rgb(96, 96, 96);
}

#projectLink{
    text-decoration: none;
    cursor: pointer;
    color: rgb(43, 43, 255);
    padding-right: 1em;
}

img{
    top: 50%;
    transform: translate(-35%, -50%);
    position: fixed;
    height: 99vh;
    width: auto;
}