@tailwind base;
@tailwind components;
@tailwind utilities;


body  {
  color: #ffffff;
  background-color: #000000;
 }

 .scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.w-110{
  width: 550px;
}

.caption{
  font-size: 10rem;
  line-height: 8rem;
}
